

@media (min-width: 1200px) and (max-width: 1300px) {
    .footer-bottom p {
        margin: 0;
        font-size: 15px;
    }
    .social-area p {
        margin-right: 30px;
    }
    .social-area p {
        margin-right: 30px;
    }
    .footer-bottom-link a {
        font-size: 15px;
    }
    .social-area li a {
        font-size: 18px;
    }
}







/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .hero-area { 
        height: 735px; 
    }
    .hero-area {
        height: 715px;
    }
    .hero-bottom { 
        bottom: 110px; 
    }
    .tree { 
        width: 780px;
    }
    .footer-bottom p {
        margin: 0;
        font-size: 14px;
    }
    .social-area p {
        margin-right: 30px;
    }
    .footer-bottom-link a {
        font-size: 14px;
    }
    .social-area li a {
        font-size: 18px;
    }
    .started-btn {
        display: inline-block;
        font-size: 20px;
        padding: 15px 40px;
    }
    .hero-top h1 {
        font-size: 36px;
    }
    .hero-area p {
        color: #f8fbfb;
        font-size: 24px;
        line-height: 32px;
        margin-top: 15px;
    }
    .header-area {
        padding: 15px 0px;
    }
    .mainmneu li a {
        font-size: 20px;
    }
    .header-right a {
        font-size: 20px;
    }
    .logo img {
        width: 160px;
    }
    .service-txt p {
        font-size: 16px;
        letter-spacing: 0px;
    }
    .count-num h2 {
        font-size: 50px;
        margin-right: 25px;
    }
    .faq-text p {
        font-size: 20px;
    }
    .count-box h2 {
        font-size: 50px;
    }
    .footer-logo img {
        width: 270px;
    }

    .footer-top {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-one-social ul li a {
        margin: 0px 7px;
    }



}
 





/* SM Small Device :550px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area {
        padding: 10px 0px;
        background: #fff;
        box-shadow: 0 0 20px #e9ebec;
        transition: .3s;
    }

    .logo img {
        width: 140px;
    }
    .mainmneu li a {
        font-size: 20px;
    }
    .header-right a {
        font-size: 18px;
    }
    .hero-top h1 {
        font-size: 36px;
    }
    .hero-area p {
        font-size: 24px;
        line-height: 30px;
    }
    .hero-area {
        height: 600px;
    }

    .started-area {
        padding: 100px 0;
    }
    .started-btn {
        font-size: 20px;
        padding: 15px 36px;
    }
    .count-num h2 {
        font-size: 50px;
        margin-right: 20px;
    }
    .service-txt p {
        font-size: 16px;
        letter-spacing: 0;
    }
    .service-txt h4 {
        color: #040404;
        font-weight: 500;
        font-size: 20px;
    }
    .area-title p {
        font-size: 18px;
    }
    .faq-text p {
        font-size: 18px;
    }
    .footer-bottom p {
        margin: 0;
        text-align: center;
    }
    .social-area p {
        margin-right: 30px;
    }
    .footer-bottom-link {
        text-align: center;
    }
    .footer-logo img {
        width: 250px;
        margin-bottom: 15px;
    }
    .footer-widget li a {
        letter-spacing: 0;
        font-size: 15px;
    }
    .row.footer-btm-row {
        flex-direction: column-reverse;
    }
    .social-area {
        padding: 20px 0;
    }
    .social-area li a {
        font-size: 16px;
        color: #fff;
    }
    .participating-txt p {
        font-size: 16px;
    }
    .footer-widget.widget-three {
        float: none;
    }

    .widget-middle::after {
      display: none;
    }
    .widget-middle::before {
        display: none;
    }

  

    .hero-bottom { 
        bottom: 0px; 
    }
    .tree {
        bottom: 0;
        width: 555px;
        display: block;
    }

    .participating-txt {
        margin: 0px 30px;
    }

    .footer-top {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-one-social ul li a {
        margin: 0px 7px;
    }










}










/* SM Small Device :320px. */
@media only screen and (max-width: 767px) {

    .res-none {
        display: none;
    }
    .header-area {
        padding: 10px 0px;
    }
    .header-right a {
        padding: 6px 20px;
        font-size: 14px;
    }
    .hero-top h1 {
        font-size: 20px;
    }
    .hero-area p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px;
    }
    .hero-area p br {
        display: none;
    }
    .hero-top {
        padding: 25px 15px;
    }
    .hero-bottom {
        padding: 33px 15px;
    }
    .hero-area {
        height: 465px;
        margin-top: 15px;
    }
   
    .hero-bottom { 
        bottom: 0px; 
    }
    .tree {
        bottom: 0;
        width: 455px;
        display: block;
    }
    .started-btn {
        font-size: 16px;
        padding: 13px 25px;
    }
    .get-down {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        left: 20px;
        margin-top: -20px;
    }
    .started-area {
        padding: 80px 0;
    }
    .service-thumb {
        display: none;
    }
    .srv-bg {
        background: transparent;
    }
    .single-serv-warp {
        margin: 35px 0;
    }
    .count-num h2 {
        font-size: 24px;
        margin-right: 20px;
    }
    .service-txt h4 {
        font-size: 20px;
    }
    .service-txt p {
        font-size: 15px;
        letter-spacing: 0;
    }
    .participating-txt p {
        font-size: 16px;
    }
    .participating-txt {
        max-width: 320px;
        margin: 0 auto;
        margin: 20px 0;
    }
    .area-title p {
        font-size: 18px;
        letter-spacing: .5px;
    }
    .faq-text p {
        font-size: 16px;
    }
    .area-title h2 {
        font-size: 24px;
    }
    .footer-logo img {
        width: 230px;
        margin-bottom: 15px;
    }
    .footer-bottom p {
        margin: 0;
        text-align: center;
        font-size: 16px;
        display: block;
        margin-bottom: 15px;
    }
    .footer-bottom p {
        margin: 0;
        text-align: center;
        font-size: 13px;
    }
    .footer-bottom-link a {
        margin-left: 0;
        font-size: 14px;
        margin: 5px 15px;
    }
    .footer-bottom-link {
        text-align: center;
        margin: 10px;
    }
    .social-area {
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    .social-area li a {
        font-size: 18px;
        color: #fff;
    }
    .social-area p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .footer-widget {
        margin: 15px 0;
        text-align: center;
    }

    .service-content.alignright {
        float: left;
    }
    .participating-txt {
        max-width: 320px;
        margin: 0 auto;
        margin: 20px auto;
    }
    .header-right {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .menu_trigger {
        display: block
    }
    .footer-widget.widget-three {
        float: none;
    }

    .widget-middle::after {
      display: none;
    }
    .widget-middle::before {
      display: none;
    }

    

    
 




}










/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-bottom-link a {
        font-size: 16px;
    }
    .footer-bottom p {
        font-size: 16px;
    }
    .participating-txt {
        max-width: 320px;
        margin: 0 auto;
        margin: 20px auto;
    }
	
	.footer-logo {
		text-align:center;
	}

    .marketing-block {
        display: block;
    }

    .participating-txt-two {
        margin-top: 50px;
    }

    .footer-top {
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-one {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-link {
        text-align: center;
        margin: 15px 0;
    }

    .footer-bottom {
        padding-left: 0;
    }
  
}


/* SM Small Device :550px. */
@media only screen and (min-width: 320px) and (max-width: 575px) {
  
    .tree {
        bottom: 0;
        width: 385px;
        display: block;
    }
    .hero-area {
        height: 380px; 
    }
    .hero-top {
        padding: 15px 15px;
    }
    .hero-bottom {
        padding: 20px 15px;
    }
    .hero-area p {
        font-size: 16px;
        line-height: 22px;
        margin-top: 15px;
    }
    .hero-top h1 {
        font-size: 19px;
    }
	
	.footer-logo {
		text-align:center;
	}

    .marketing-block {
        display: block;
    }

    .participating-txt-two {
        margin-top: 50px;
    }

    .footer-top {
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-one {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-link {
        text-align: center;
        margin: 15px 0;
    }

    .footer-bottom {
        padding-left: 0;
    }


}